*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  align-items: end;
  max-width: 1140px;
  gap: 30px;
}

.search-form {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.content__list {
  position: relative;
  display:flex;
  flex-direction: column;
  max-height: 298px;
  overflow-y: auto;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 24px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 15px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-weight: inherit;
  font-size: inherit;
  margin-bottom: 5px;
}

.title {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration-line: none;
  color: inherit;
  display: block;
  margin: 2px;
}

.content__video-card-title {
  max-width: 200px;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  max-width: 200px;
  line-height: 16.2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}

.search-form__checkbox-list .search-form__label {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

input {
  background-color: transparent;
  width: 225px;
  height: 27px;
  color: inherit;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-family: inherit;
  font-size: inherit;
  line-height: 21.6px;
  appearance: none;
}

input::placeholder {
  color:rgb(255 255 255 / 0.7);
}

input[type='checkbox'] + .search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__checkbox-list {
  width: 212px;
  display: flex;
  justify-content: space-between;
  padding-top: 3px;
  margin-bottom: 3px;
}

.button {
  height: 34px;
  background-color: transparent;
  border: 1px solid currentColor;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 399px;
}

input:focus {
  outline: none;
}

label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

input[type='checkbox']:checked + span {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: #fff;
  outline: 1px solid #1b1919;
  outline-offset: -2px;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.search-form__checkbox-list label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}






