*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  align-items: end;
  max-width: 1140px;
  height: 534px;
  margin: 133px 30px;
  gap: 30px;
}

.search-form {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.content__list {
  position: relative;
  display:flex;
  flex-direction: column;
  gap: 30px;
  max-height: 298px;
  overflow-y: auto;
}

.content__details {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 26px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  margin-bottom: 5px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration-line: none;
  color: #fff;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  line-height: 16.2px;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}

.search-form__checkbox-list .search-form__label {
  display: inline-flex;
  gap: 5px;
  font-weight: 400;
  line-height: 21.6px;
}

input {
  background-color: transparent;
  width: 225px;
  height: 27px;
  color: #FFFFFFB2;
  border: none;
  border-top: 1px solid #FFFFFFB2;
  border-bottom: 1px solid#FFFFFFB2;
  font-family: inherit;
  font-size: inherit;
  line-height: 21.6px;
  appearance: none;
}

input::placeholder {
  color:rgb(255 255 255 / 0.7);
  font-weight: 400;
}

input[type='checkbox'] + .search-form__pseudo-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__checkbox-list {
  width: 212px;
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
  margin-bottom: 4px;
}

.button {
  height: 34px;
  background-color: transparent;
  border: 1px solid #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 399px;
}

input:focus {
  outline: none;
}

label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

input[type='checkbox']:checked + span {
  width: 20px;
  height: 20px;
  background-color: #fff;
  outline: 1px solid #000;
  outline-offset: -3px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.search-form__checkbox-list label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link {
  display: block;
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  text-decoration: underline;
}






